@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body{
    display: flex;
    font-family: "Amatic SC", sans-serif;
    margin: 0;
    max-width: 2000px;
    padding: 0;
}

/*--- Left Side Elements ---*/
h1{
    color: rgb(255, 255, 255);
    font-size: 5em;
    font-weight: 900;
    margin-top: 15%;
}

.hero{   
    background-image: url(hero.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex: 1 1 40%;
    min-height: 100vh;
    min-width: 150px;
}

.titleOverlay{
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-image: url(footprints.png);    
    background-size: cover;
    display: flex;
    height: 20%;
    justify-content: center;
    margin-top: 30%;
    opacity: 0.6;
    width: 100%;
}

/*--- Right Side Elements ---*/

.formStyleWrapper{
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(4, 1fr);
}

.formStyleWrapper>h2{
    grid-column: span 2;
}

label, .textIn{
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 5px;
    width: 250px;
}

.mainBlock{
    display: flex;
    flex: 1 1 60%;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.topText{
    font-size: 2em;
}